@font-face {
    font-family:"8bitoperator";
    src:url("../fontes/8bitoperator_jve.woff") format("woff");
    font-weight:normal;
}

@font-face {
    font-family:"mercy";
    src:url("../fontes/MERCY.ttf");
    font-weight:normal;
}

h1{
    font-weight:normal;
}
h2{
    font-weight:normal;
}
h3{
    font-weight:normal;
}
h4{
    font-weight:normal;
}
h5{
    font-weight:normal;
}
h6{
    font-weight:normal;
}

body{
    font-family: '8bitoperator';
    background-color:black;
    background-image:url("../imagens/bg.png");
    background-repeat:no-repeat;
    background-size:100%;
}

.mainbg{
    background-color:transparent;
    color:white;
    margin:12px;
    padding:5px;
}

.textbox{
    outline-width:4px;
    outline-color:white;
    outline-style:solid;
    background-color:black;
    font-size:36px;
    margin:auto 6px;
}

a:link {
    color:#ffdc15;
    text-shadow: 0px 1px 5px #ffdc15;
}

a:visited {
    color:#ababab;
}

.button{
    border:1px solid #ff8015;
    color:#ff8015;
    font-family: 'mercy';
    outline-style:solid;
    background-color:black;
    padding-bottom:-15px;
    margin-top:6px;
    margin-bottom:6px;
    margin-left:16px;
    margin-right:16px;
    text-shadow: 0px 0px black;
    font-size:40px;
    vertical-align:center;
    height: 50px;
    text-decoration:none;
    padding:3px;
}

.button:link {
    color:#ff8015;
    text-shadow: 0px 0px black;
}
.button:visited {
    color:#ff8015;
}
.button:hover {
    color:#ffdc15;
}
.button:active {
    color:#ffdc15;
}

input[type="text"], input[type="email"], input[type="tel"],select {
    font-family: '8bitoperator';
    background-color:black;
    outline-width:3px;
    outline-color:white;
    outline-style:solid;
    border:none;
    margin-top:5px;
    margin-bottom:5px;
    color:white;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    color:yellow;
    outline-color:yellow;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, select:hover {
    outline-color:yellow;
}

input[type="radio"] {
    appearance:none;
}

input[type="radio"]::before {
    font-family: '8bitoperator';
    text-align:center;
    content:'X';
    color:black;
    
    display:inline-block;
    background-color:black;
    
    outline-width:2px;
    outline-color:white;
    outline-style:solid;

    margin-right:5px;

    height:1em;
    width:1em;
}

input[type="radio"]:hover::before {
    outline-color:yellow;
    color: black;
    content:'X';
}

input[type="radio"]:checked::before {
    outline-color:yellow;
    color: yellow;
    content:'X';
}

input[type="submit"] {
    border:none;
    
    outline-width:5px;
    outline-color:#ff8015;
    outline-style:solid;
    
    color:#ff8015;
    font-family: 'mercy';
    outline-style:solid;
    background-color:black;
    
    padding:20px;

    margin: 0px 0px;
    
    font-size:32px;
    vertical-align:center;
    height: 50px;
    text-decoration:none;
    padding:3px;
}

input[type="submit"]:link, input[type="submit"]:visited {
    color:#ff8015;
    outline-color:#ff8015;
}
input[type="submit"]:hover, input[type="submit"]:active {
    color:#ffdc15;
    outline-color:#ffdc15;
}

fieldset{
    outline-width:4px;
    outline-color:white;
    outline-style:solid;
    background-color:black;
    margin:auto;
    border:none;
    max-width: 50%;
}

.indent {
    margin-left: 7%;
    margin-right: 7%;
}

.title {
    margin-left:30%;
    margin-right:30%;
}

ul {
    list-style-type:none;
    background:none;
}

li {
    outline-width:4px;
    outline-color:white;
    outline-style:solid;
    background-color:black;
    font-size:36px;
    margin:6px;

}

